{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'images/mklogo.png'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <meta name="google-site-verification" content="iEKFN3Db9oCK1iLEgrYp7HiHQ4lfAbZ-LW4o7yGXcDg" />

</head>

<body class="main" style="background-color: #f0f0e0;" >
    <header>
        <nav class="navbar navbar-expand-sm py-md-3 navbar-light  topnav sticky-top" style="background-color: #b39377 ;">
            <a class="navbar-brand"> <img src=" {%static 'images/mklogo.png'%}" alt="logo" id="tsize"  style="height:50px; width:50px;"><b> MeiKai</b></a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
           </div>
         
           <li class="topnav"><a href="{% url 'adminlogin' %}"  type="button" id="tsize" data-toggle="tooltip" title="Login">  <i class="fa fa-user-circle"></i></a></li>
          
         </nav>
        </header>
        {% block content %} {% endblock %}

</body>
</html>
