{% extends "htmlss/base1.html" %}
{% load static %}
{% block title %}
<title>Product Page</title> 
{% endblock %}
    

{% block content %}  
    <div class="container">
        <div class= "gallery"> 
            <img src= "{%static 'images/men1.jpg'%}">
            <div class=" descr"> 
                <button class="tshirt" type="button" data-toggle="tooltip" title = "T-SHIRT">T-SHIRT</T-SHIRT></button>
                <a href="forhim.html"></a>
            </div>
        </div>
        <div class= "gallery"> 
            <img src= "{%static 'images/men3.png'%}">
            <div class=" descr"> 
                <button class="tshirt" type="button" data-toggle="tooltip" title = "T-SHIRT">SWEATER</T-SHIRTS></button>
            </div>
        </div>
        <div class= "gallery"> 
            <img src= "{%static 'images/men2.jpg'%}"> 
            <div class=" descr"> 
                <button class="tshirt" type="button" data-toggle="tooltip" title = "T-SHIRT">HOODIES</T-SHIRT></button>
                
            </div>    
    </div>
    {% endblock %}  

    {% block navigate %} {% endblock %}