{% extends "htmlss/base1.html" %}
{% load static %}
{% block title %}
<title>Product Page</title> 
{% endblock %}
    
{% block content %}  
    <div class="container">
        <div class= "gallery"> 
            <img src= "{% static 'images/first.jpg'%}">
            <div class=" descr"> 
                <button class="tshirt" type="button" data-toggle="tooltip" title = "T-SHIRT">T-SHIRT</button>
            </div>
        </div>
        <div class= "gallery"> 
            <img src= "{% static 'images/3rd.jpg'%}">
            <div class=" descr"> 
                <button class="tshirt" type="button" data-toggle="tooltip" title = "T-SHIRT">SWEATER</T-SHIRTS></button>
            </div>
        </div>
        <div class= "gallery"> 
            <img src= "{% static 'images/4th.jpg'%}">
            <div class=" descr"> 
                <button class="tshirt" type="button" data-toggle="tooltip" title = "T-SHIRT">HOODIES</T-SHIRT></button>
            </div>
        </div>
    </div>
{% endblock %}  

{% block navigate %} {% endblock %}