{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MK Clothing</title>

    <link href="https://fonts.googleapis.com/css2?family=Playfair%20Display" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="mklogo.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <meta name="google-site-verification" content="iEKFN3Db9oCK1iLEgrYp7HiHQ4lfAbZ-LW4o7yGXcDg" />

</head>
<body class="main"  style="background-color: #0f0e0c;"> 
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark topnav sticky-top">
            <a class="navbar-brand"> <img src="mklogo.png" alt="logo" style="height:40px; width:40px;"> MeiKai </a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="topnav">
                    <li><a href="index.html" button  data-toggle="tooltip" title="Menu">Home</a></li>
                    <li><button  data-toggle="tooltip" title="Shop">Shop</button></li>
                    <li><button  data-toggle="tooltip" title="About">Info</button></li>
                </ul>
           </div>
           <a href="login.html" class="order-btn"  type="button" data-toggle="tooltip" title="Log in">   <i class="fa fa-user-circle-o"></i></a>
           <button class="order-btn"  type="button" data-toggle="tooltip" title="Cart">  <i class="fa fa-shopping-cart"></i></button>
    
         </nav>
        </header>
           
        <div class="page">
            <ul class="leftnav">
               <li><a href="productpage.html"><button  data-toggle="tooltip" title="Her">Clothes for Her</button></a></li>
               <li><a href="forhim.html"><button  data-toggle="tooltip" title="Him">Clothes for Him</button></a></li>
               <li><a href="Allproducts.html"><button  data-toggle="tooltip" title="All">All Products</button></a> </li>
           </ul>
           
        </div>
   
    <div class="container">
        <div class= "gallery"> 
            <img src= "first.jpg">
            <div class=" descr"> 
                <button class="tshirt" type="button" data-toggle="tooltip" title = "T-SHIRT">T-SHIRT</button>
                
            </div>
        </div>
        <div class= "gallery"> 
            <img src= "3rd.jpg">
            <div class=" descr"> 
                <button class="tshirt" type="button" data-toggle="tooltip" title = "T-SHIRT">SWEATER</T-SHIRTS></button>
            </div>
        </div>
        <div class= "gallery"> 
            <img src= "4th.jpg"> 
            <div class=" descr"> 
                <button class="tshirt" type="button" data-toggle="tooltip" title = "T-SHIRT">HOODIES</T-SHIRT></button>
                
            </div>
            
    </div>
        
</div>


</body>
</html>
