{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'images/mklogo.png'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/722c5ad8e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/signup.css'%}">
</head>
<body style="background-image: url({%static 'images/signupbg.jpeg'%})" >
    <div  class="container">
        <div class="signup">
            <h1>Sign Up</h1>
            <form action="#" autocomplete="off">
                <div class="form-group">
                    <label for="fname">First Name: </label>
                    <input type="text" class="form-control-lg" id="fname" placeholder="Enter Username" value="" autofocus>
                </div>
                <div class="form-group">
                    <label for="lname">Last Name: </label>
                    <input type="text" class="form-control-lg" id="lname" placeholder="Enter Username" value="">
                </div>
                <div class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control-lg" id="username" placeholder="Enter Username" value="">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="text" class="form-control-lg" id="email" placeholder="Enter Username" value="">
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control-lg" id="password" placeholder="Enter Password" value="">
                </div>
                <div class="form-group">
                    <label for="cpassword">Confirm Password: </label>
                    <input type="password" class="form-control-lg" id="cpassword" placeholder="Enter Password" value="">
                </div>
                <div class="form-group">
                    <button type="submit" id="regbtn">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>